* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Rubik", sans-serif;
    transition: all 0.2s linear;
  }
  .bg-light {
    background-color: #ececec !important;
  }
  
  .brand-name {
    color: #ffc901 !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #385b63;
  }
  
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #ffc901;
  }
  
  .social a:hover {
    transform: translateY(-0.15rem);
  }
  
  .networking {
    padding: 116px 0;
  }
  
  .heading {
    font-weight: bold;
    font-size: 44px;
    color: #385b64;
  }
  
  .social a:hover .twitter {
    color: #1da1f2;
  }
  
  .social a:hover .dribbble {
    color: #be205f;
  }
  
  .social a:hover .facebook {
    color: #1877f2;
  }
  
  .social a:hover .instagram {
    /*   background: linear-gradient(to left, #393dd8, #ca2e86, #f68601);
    -webkit-background-clip: text;
    color: transparent; */
    color: #ca2e86;
  }
  
  .btn-primary {
    color: #000;
    background-color: #ffc901 !important;
    border-color: #ffc901 !important;
  }
  .nav-item a {
    margin: 0 6px;
  }
  .btn-primary:hover,
  .btn-primary:focus {
    color: #fff;
    background-color: #2d454f;
    border-color: #2d454f;
  }
  .img {
    width: 719px;
  }
  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000000e6;
    transition: width 0.3s;
  }
  .nav-link:hover::after {
    width: 100%;
  }
  .nav-link.social-icon::after {
    content: none;
  }
  @media only screen and (max-width: 768px) {
    .img {
      width: 338px;
    }
  }
  